# Jupyter

Plataforma para escrever codigo no browser, muito usada por cientistas para criar relatorios e artigos executaveis.

O Jupyter tem **celulas**, onde você pode digitar texto e codigo. Também é possivel plotar graficos, videos, mapas interativos e varias outras funcionalidades.

In [1]:
print("isto é uma celula de codigo python.")

isto é uma celula de codigo python.

**texto** puro usando [markdown](https://daringfireball.net/projects/markdown/syntax).

Atalhos interessantes:

* **enter**: entra no modo de edição de uma celula.
* **esc**: sai do modo de edição.
* **shift + enter**: executa o conteudo da celula.
* **palavra + tab**: auto-completa palavra ja escrita antes. Funciona em celulas com codigo.
* **b**: abre uma celula de codigo abaixo da atual.
* **a**: abre uma celula de codigo acima da atual.
* **x**: remove uma celula. Funciona fora do modo de edição.
* **m**: transforma uma celula de codigo em texto.
* **y**: transforma uma celula de texto em codigo.

## Python

Linguagem de proposito geral, com aplicação em muitos campos do conhecimento.

Python já foi usado em:
* filmes
* aviação
* negocios
* ciencia
* web
* e [muitas outras areas](https://www.python.org/about/success/)

Aqui vamos ver como python pode ser usado para tirar insights dos dados que vimos no dia a dia.

## Começando com python

In [2]:
print("olá mundo!")

olá mundo!

## Variáveis

In [3]:
saudacao = "olá mundo"
saudacao

'olá mundo'

servem para guardar um valor de um determinado **tipo**

### Numéricas

In [4]:
inteiro = 1
decimal = 1.234

### Para identificarmos um tipo, usamos: type

In [5]:
type(inteiro)

int

### Texto

In [6]:
texto = "escrito por mim"
texto_grande = """assim posso escrever
em varias linhas e
isso continua valer como um unico texto"""

### Lista

In [7]:
lista = ["hamburguer", "hamburguer", "alface", "queijo", "molho especial", "cebola", "picles", "pão com gergilim"]

## Com os tipos podemos fazer operações!

### Com os numéros operações matemáticas

In [8]:
1 + 1

2

In [9]:
1 * 2 # multiplicação

2

In [10]:
3 / 2 # divisão

1.5

In [11]:
3 // 2 # divisão com retorno em inteiro (remove o ponto decimal)

1

In [12]:
2 ** 2 # potência

4

In [13]:
2 % 2 # resto da divisão

0

## Podemos usar variáveis no lugar dos numéros

In [14]:
idade = 29
idade + 1

30

In [15]:
print(idade)

29

In [16]:
idade = idade + 1

In [17]:
print(idade)

30

### Operadores tradicionalmente numéricos também podem servir para outros tipos

In [18]:
nome = "seu nome"
print("olá " + nome)

olá seu nome

In [19]:
nome = "seu nome"
separador = " | "
print((nome + separador) * 4)

seu nome | seu nome | seu nome | seu nome |

### Desafio

crie uma lista com coisas que tem na sua sala.
.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

# Lista

Conjunto de dados ordenados de acordo com a inserção.

In [20]:
minha_sala = ["tv", "rack", "mesa", "estante", "livros"]

### Acessamos um item através da posição do item, começando da posição 0.

In [21]:
minha_sala[0]

'tv'

### Podemos acessar de trás pra frente também.

In [22]:
minha_sala[-1]

'livros'

### Curiosidade: uma string é uma lista de caracteres

In [23]:
nome = "tarsis"
nome[1]

'a'

### Você pode querer uma lista parcial, para isso existe o operador ":"

In [24]:
minha_sala[1:4] # primeiro elemento não é mostrado

['rack', 'mesa', 'estante']

In [25]:
minha_sala[2:]

['mesa', 'estante', 'livros']

In [26]:
minha_sala[:2]

['tv', 'rack']

### Para encontrar o indice de um valor dentro da lista você usa a função 'index'

In [71]:
minha_sala.index("mesa de jantar")

5

In [74]:
minha_sala.index('rack')

1

### Para adicionar algo no final da lista sem precisar criar ela toda novamente

In [27]:
minha_sala.append("mesa de jantar")
minha_sala

['tv', 'rack', 'mesa', 'estante', 'livros', 'mesa de jantar']

----------
# Vamos fazer uma lista com a altura de todos na turma:

----------

In [28]:
alturas = [1.80, 1.50]

### Desafio

Some todas as alturas da turma.

.

.

.

.

.

.

.

.

.

.

In [29]:
alturas[0] + alturas[1]

3.3

In [30]:
sum(alturas)

3.3

### Função já prontas (built-in)

Python já tem alguns métodos/funções que nos ajudam em várias coisas. Vamos ver algumas delas :)

### O tamanho da lista

In [31]:
len(alturas)

2

### O maior valor numérico de uma lista

In [32]:
max(alturas)

1.8

### O menor valor numérico de uma lista

In [33]:
min(alturas)

1.5

### Assim como já vimos, para somar todos os itens

In [34]:
sum(alturas)

3.3

# Dicionários

É uma estrutura de dados baseado no conceito de Chave/Valor. Ele é muito similar a estrutura de um formulário.

In [35]:
meu_dicionario = {
    "chave": "valor",
    "python": "linguagem",
    "jupyter": "plataforma",
}

In [36]:
meu_dicionario["python"]

'linguagem'

In [37]:
meu_dicionario["jupyter"]

'plataforma'

## Desafio
Crie um dicionario com seus dados pessoais: nome, email, idade e altura
.

.

.

.

.

.

.

.

.

.

.

In [38]:
meus_dados = {
    "nome": "tarsis figueredo azevedo",
    "email": "tarsis.azevedo@gmail.com",
    "idade": 29,
    "altura": 1.80
}

In [39]:
meus_dados["nome"]

'tarsis figueredo azevedo'

### Adicionando uma chave a um dicionário já criado

In [40]:
meus_dados["endereco"] = "rua x, 123"
meus_dados

{'altura': 1.8,
 'email': 'tarsis.azevedo@gmail.com',
 'endereco': 'rua x, 123',
 'idade': 29,
 'nome': 'tarsis figueredo azevedo'}

### Removendo uma chave

In [41]:
del meus_dados['endereco']

In [42]:
meus_dados

{'altura': 1.8,
 'email': 'tarsis.azevedo@gmail.com',
 'idade': 29,
 'nome': 'tarsis figueredo azevedo'}

### Atualizar o valor de uma chave já criada

In [43]:
meus_dados['idade'] = 30
meus_dados

{'altura': 1.8,
 'email': 'tarsis.azevedo@gmail.com',
 'idade': 30,
 'nome': 'tarsis figueredo azevedo'}

# Dicionários e listas: VAMOS JUNTAR TUDO!

Temos varios alunos, cada um com seu dicionario. vamos criar uma lista com todos eles.

### Vamos criar os dicionários

In [44]:
aluno1 = {'nome': 'teste', 'idade': 23}
aluno2 = {'nome': 'testa', 'idade': 34}

### Agora vamos colocar tudos em uma lista

In [45]:
lista_alunos = [aluno1, aluno2]
print(lista_alunos)

[{'nome': 'teste', 'idade': 23}, {'nome': 'testa', 'idade': 34}]

## Desafio

Criar uma lista, com dicionários representando membros da sua familia

.

.

.

.

.

.

.

.

.

.

.

In [46]:
familia = []
irmao = {"nome": "thalles", "idade": 25}
irma = {"nome": "thais", "idade": 24}
mae = {"nome": "sandra", "idade": 50}
familia.append(irmao)
familia.append(irma)
familia.append(mae)
familia

[{'idade': 25, 'nome': 'thalles'},
 {'idade': 24, 'nome': 'thais'},
 {'idade': 50, 'nome': 'sandra'}]

# Andando pelos conjuntos

Quando temos dados agrupados numa lista ou dicionário, geralmente vamos ter que executar em todos eles e pra isso usamos uma instrução do python: o `for`

### Como podemos fazer para transformar as alturas em metros em centímetros?

In [47]:
alturas_em_metros = [1.80, 1.64, 1.74]
for altura in alturas_em_metros:
    print("altura em centimetros: ", int(altura * 100))

altura em centimetros:  180
altura em centimetros:  164
altura em centimetros:  174

### Como podemos pegar os valores de um dicionário?

In [48]:
meus_dados = {"nome": "tarsis", "idade": 29}
for chave in meus_dados:
    print(meus_dados[chave])

tarsis
29

In [49]:
print(meus_dados.values())

dict_values(['tarsis', 29])

In [50]:
for valor in meus_dados.values():
    print(valor)

tarsis
29

In [51]:
print(meus_dados.items())
for dado, valor in meus_dados.items():
    print(dado, valor)

dict_items([('nome', 'tarsis'), ('idade', 29)])
nome tarsis
idade 29

## Desafio

Com a lista de pessoas da família que você criou antes, faça um print com a mensagem: "Nome: <nome-da-pessoa>, idade: <idade-da-pessoa>"
.

.

.

.

.

.

.

.

.

.

.

In [52]:
for membro in familia:
    print("Nome: ", membro["nome"], ", idade: ", membro["idade"])

Nome:  thalles , idade:  25
Nome:  thais , idade:  24
Nome:  sandra , idade:  50

### Filtrando dados

Quando temos uma coleção de dados em lista ou dicionario as vezes precisamos filtras elementos baseados em **condições**.

#### validando igualdade e diferença

In [53]:
1 == 1

True

In [54]:
1 != 1

False

#### validando maior que e menor que

In [55]:
1 > 0

True

In [56]:
1 < 0

False

In [57]:
2 >= 2

True

In [58]:
1 <= 2

True

#### negando uma condição

In [59]:
not 1 != 1

True

#### aplicando condições com IF

In [60]:
if 1 == 1:
    print("1 é igual a 1")
    
if 2 == 1:
    print("2 é igual a 1")
else:
    print("2 não é igual a 1")

1 é igual a 1
2 não é igual a 1

### Juntando for e filtros!

In [61]:
lista_alturas = [1.80, 1.70, 1.62, 1.95, 1.55]
for altura in lista_alturas:
    if altura >= 1.70:
        print(altura)

1.8
1.7
1.95

### Desafio: vamos dividir pessoas altas e baixas!

.

.

.

.

.

.

.

.

.

In [62]:
lista_alturas =  [1.80, 1.70, 1.62, 1.95, 1.55]
pessoas_altas = []
pessoas_baixas = []

for altura in lista_alturas:
    if altura >= 1.70:
        pessoas_altas.append(altura)
    else:
        pessoas_baixas.append(altura)

print("altos: ", pessoas_altas)
print("baixos: ", pessoas_baixas)

altos:  [1.8, 1.7, 1.95]
baixos:  [1.62, 1.55]

#### E se eu tiver outra lista com alturas para separar?

In [63]:
outras_alturas = [1.72, 1.90, 1.78, 1.55, 1.69, 1.60]

#### Desafio: dividam essas novas alturas em duas listas de pessoas altas e baixas.
.

.

.

.

.

.

.

.

.

.

### Introdução a funções

Quando temos algum bloco de codigo que temos que executar repetidamente isolamos em uma função para que o reuso seja mais facil.

Vamos ver como isso é possivel em python

In [64]:
def separa_pessoas_altas_e_baixas(pessoas):
    pessoas_altas = []
    pessoas_baixas = []

    for altura in pessoas:
        if altura >= 1.70:
            pessoas_altas.append(altura)
        else:
            pessoas_baixas.append(altura)
            
    return pessoas_altas, pessoas_baixas

In [67]:
import random
pessoas_aleatorias = [random.uniform(1.50, 2.0) for i in range(30)]
altos, baixos = separa_pessoas_altas_e_baixas(pessoas_aleatorias)

In [68]:
altos

[1.9716401246991804,
 1.964706674863813,
 1.8495686741666197,
 1.986678218162451,
 1.7993993630021208,
 1.9090372034034666,
 1.7910819026514817,
 1.8311823240817164,
 1.9266050691730245,
 1.823323804236615,
 1.9444498929185052,
 1.8805712835398438,
 1.7733490695429577,
 1.7277622347016173,
 1.8124971032289432,
 1.9296263123900004,
 1.7058656267303856,
 1.7752025749578337]

In [69]:
baixos

[1.5177991568001863,
 1.5562065712311839,
 1.66896231967848,
 1.6710442861825705,
 1.582529815970235,
 1.6044170854940425,
 1.618842332213614,
 1.688946001135852,
 1.6261620187445267,
 1.6789457309798106,
 1.6081081196799916,
 1.5965381854180731]

In [70]:
def altura_media(alturas):
    return sum(alturas)/len(alturas)

altura_media(pessoas_aleatorias)

1.7607016359993048