** Pra ajudar a reforçar a conteúdo da primeira semana criamos uma pequena lista de exercícios :) **

Eles tem grau de dificuldades variados então não se preocupe se achar muito difícil algum; Nós estamos aqui para te ajudar!

# Strings

Como juntamos os termos "rio" "de" "janeiro"?

In [74]:
string1 = "rio"
string2 = "de"
string3 = "janeiro"

string1 + string2 + string3

'riodejaneiro'

Como escrevemos a palavra "rio" "de" "janeiro" com espaço?

In [76]:
string1 = "rio"
string2 = "de"
string3 = "janeiro"

string1 + " " + string2 + " " + string3

'rio de janeiro'

Como juntamos o número 2017 (sem aspas) com a string "rio"?

In [77]:
ano = 2017
cidade = "rio"

str(ano) + cidade

'2017rio'

Como escrevemos 50 vezes o termo "sou legal"?

In [79]:
("sou legal ") * 50

'sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal sou legal '

Faça uma função que retorne a primeira letra de cada palavra passada como parametro

In [81]:
def f_primeira_letra(palavra):
    print(palavra[0])

primeira_letra("jupiter")

j

Faça uma função que retorne cada palavra separadas por vírgulas

In [82]:
def f_separa_por_virgula(palavra):
    print(",".join(palavra))

f_separa_por_virgula("jupiter")

j,u,p,i,t,e,r

# Números Inteiros

Como eu somo os valores "1" e "2" (com aspas) tendo como resultado o número 3?

In [85]:
primeiro = "1"
segundo = "2"

sum(map(int, primeiro+segundo))

3

Qual o resto da divisão entre 3 e 5?

In [93]:
tres = 3
cinco = 5

tres % cinco

3

Faça uma função que retorne o próximo número. Exemplo: passamos 5 retorne 6

In [95]:
def f_proximo_numero(numero):
    print(numero+1)
    
f_proximo_numero(10)

11

# Números Flutuantes

Como sei que se esse número é Float?

In [97]:
numero = 5.5

type(numero)

float

Some os números 0.1 e 0.2

In [101]:
primeiro = 0.1
segundo = 0.2

primeiro + segundo

0.30000000000000004

Faça um função que retorne os números com 3 casas decimais. Exemplo: passamos 3.33333333 retorne 3.333

In [112]:
def f_decimal(nrfloat):
    print('{:.3f}'.format(nrfloat))
    
f_decimal(3.33333333)

3.333

# Dicionário

Crie um dicionário com "nome completo" e "profissão" de 5 amigos

In [180]:
dicionario = {
    "nome completo": ["Tarso Lino","Ricardo Rodrigues","Lourdinha Bassi","André Corrêa","Evandro Spinola"],
    "profissao": ["Empresário","Piloto","Empresária","Empresário","Professor"]
}

print(dicionario)

{'nome completo': ['Tarso Lino', 'Ricardo Rodrigues', 'Lourdinha Bassi', 'André Corrêa', 'Evandro Spinola'], 'profissao': ['Empresário', 'Piloto', 'Empresária', 'Empresário', 'Professor']}

Coloque nessa lista a idade dessas pessoas

In [181]:
dicionario["idade"] = [45,49,52,48,49]
print(dicionario)

{'nome completo': ['Tarso Lino', 'Ricardo Rodrigues', 'Lourdinha Bassi', 'André Corrêa', 'Evandro Spinola'], 'profissao': ['Empresário', 'Piloto', 'Empresária', 'Empresário', 'Professor'], 'idade': [45, 49, 52, 48, 49]}

Retorne todos os nomes

In [182]:
dicionario["nome completo"]

['Tarso Lino',
 'Ricardo Rodrigues',
 'Lourdinha Bassi',
 'André Corrêa',
 'Evandro Spinola']

Crie uma nova chave chamada "primeiro nome" e pegue da lista de nome completo esse primeiro nome

In [183]:
#Adiciona chave ao dicionário

#cria lista
primeiro_nome = []
for nome_completo in dicionario["nome completo"]:
    primeiro_nome.append(nome_completo.split(" ")[0])
    

dicionario["primeiro nome"] = primeiro_nome
print(dicionario)

{'nome completo': ['Tarso Lino', 'Ricardo Rodrigues', 'Lourdinha Bassi', 'André Corrêa', 'Evandro Spinola'], 'profissao': ['Empresário', 'Piloto', 'Empresária', 'Empresário', 'Professor'], 'idade': [45, 49, 52, 48, 49], 'primeiro nome': ['Tarso', 'Ricardo', 'Lourdinha', 'André', 'Evandro']}

# Listas

Crie uma lista com 5 nomes

In [49]:
nomes = ["Glória", "Marcia", "Luiza", "Caio", "Cid"]

Retorne o segundo nome

In [50]:
nomes[1]

'Marcia'

Some todos os valores da lista

In [60]:
lista = [1, 2, 3, 4, 5, "12"]
soma = 0
for item in lista:
    soma = soma + int(item)
print(soma)

27

Inverta as posições da lista

In [69]:
lista = ["amarelo", "laranja", "verde", "azul"]

lista.reverse()
print(lista)

['azul', 'verde', 'laranja', 'amarelo']

Some todos os valores numéricos

In [63]:
lista = [1, 35, "bootcamp", 2.23, "data"]

soma = 0
for item in lista:
    if (type(item) != str):
        soma = soma + item
print(soma)

38.23

Faça uma função que retorne uma lista com 5 valores repetidos a partir de um termo enviado. Exemplo: passamos "rio" retorne ["rio", "rio", "rio", "rio", "rio"]

In [70]:
def f_repete(termo):
    print([termo]*5)
   
f_repete("rio")

['rio', 'rio', 'rio', 'rio', 'rio']

Ordene a lista do maior para menor

In [48]:
lista = [1, 2, 5, 4]
sorted(lista, reverse=True)

[5, 4, 2, 1]

# IF

Retorne uma lista com os números ímpares

In [15]:
lista = [1, 11, 20, 40, 45, 50]

for impar in lista:
    if (impar%2) != 0:
        print(impar)

1
11
45

Retorne apenas os nomes que começam com "J"

In [13]:
lista = ["joão", "zeca", "pedro", "joaquim"]

for comeca_com_jota in lista:
    if comeca_com_jota[0:1] == "j":
        print(comeca_com_jota)

joão
joaquim

Retorne apenas as chaves que tem como valor o termo "bootcamp"

In [16]:
dicionario = {"chave1": "bootcamp", "chave2": "brasil", "chave3": "bootcamp"}

for chave in dicionario:
    if dicionario[chave] == "bootcamp":
        print(chave)

chave1
chave3

Faça uma função que retorne "ping" se o número for divisível por 3 e retorne "pong" se ele for divisível por 5

In [36]:
def f_pingpong(numero):
    if (numero % 3) == 0:
        print("ping")
    if (numero % 5) == 0:
        print("pong")
        
fuc_pingpong(3)

ping

In [37]:
fuc_pingpong(5)

pong